$font-stack: "font: italic 1.2rem "Fira Sans", serif;"
$text-color: #FFF
$text-color-secondary: #a6a6a6
$body-bg-color: #080952
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #47d65a 0%, #47be65 98%)
.project-image
  width: 50% 
  height: auto 
  margin: 20px 
  border-radius: 10px 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) 
